@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background: #0B0B0B;
    letter-spacing: 2px;
    font-family: 'JetBrains Mono', monospace;
    ;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding-top: 50px;
    color: white;
}

.logoimg {
    border-radius: 10px;
}

.hr {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;

    &:before {
        content: '';
        background: linear-gradient(to right, transparent, #b2b2b2, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #24bba0;
        background-color: black;
    }
}

.google {
    width: 75%;
    margin: auto;
}

.gcse-searchbox {
    margin-bottom: 100px;
}

.gsc-input-box {
    background-color: #424242 !important;
    color: white;
    border-color: #141414 !important;
    border-radius: 10px !important;
}

#gsc-i-id1 {
    background-color: #424242 !important;
    color: white;
    border-color: white !important;
}

.gsst_a {
    display: block !important;
}

.gscb_a {
    color: #c71343 !important;
    
}

.gscb_a:hover {
    color: #640a22 !important
}

.gsc-search-button-v2 {
    padding: 6px !important;
    border-radius: 10px !important;
    background-color: #4195d2 !important;
    border-color: #0B0B0B !important;
}

.gsc-search-button-v2:hover {
    background-color: #214b69 !important;
}

.gsc-completion-container {
    display: none !important; 
}

svg {
    fill: #c71343 !important;
}

table.gsc-search-box td.gsc-input {
    padding-right: 0px !important;
}


.gsc-above-wrapper-area {
    display: none !important;
}

.gcsc-more-maybe-branding-root {
    display: none !important;
}

.gsc-control-cse{
    background-color: #424242 !important;
    border-radius: 10px !important;
    border-color: #424242 !important;
}

.gsc-webResult.gsc-result {
    border-radius: 10px !important;
    margin: 5px !important;
}

.gsc-cursor-page{
    background-color: #424242 !important;
    color: white !important;
}

.gsc-cursor-current-page {
    color: #76a1ff !important;
}

.footer {
    text-align: center;
    padding-top: 50px;
    color: white;
    margin-top: auto;
}

a {
    color: #24bba0;
    text-decoration: none;
}